<div class="row">
    <div class="col-md-12">
        <hr/>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th >Student ID</th>
                    <th>Name</th>
                    <th>Program</th>
                    <th>GPA</th>
                </thead>
                <tbody>
                {{#each students}}
                <tr>
                    <td>{{this.studId}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.program}}</td>
                    <td>{{this.gpa}}</td>
                </tr>
                {{/each}}

                </tbody>
            </table>
         </div>
    </div>
    {{#unless students}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/unless}}
</div>